<div class="email-header">
    <h1>👋 Welkom!</h1>
    <p>CareerLaunch - Erasmus Hogeschool Brussel</p>
</div>

<div class="email-content">
    <h2>Hallo {{userName}}!</h2>
    <p>Je account is succesvol aangemaakt voor CareerLaunch.</p>
    <p>Je kunt nu inloggen en deelnemen aan het evenement.</p>
    
    <div style="text-align: center; margin: 30px 0;">
        <a href="http://localhost:3301/login" class="button">Naar je account</a>
    </div>
</div>